.App { 
    text-align: center;
}
.Nav-Links{
    justify-content: space-evenly;
    display: flex;
    
}

li{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav{
    background-color: #eeee;
    font-size: 20px ;

}